{% extends "layout.html" %} {% block content %}

<div class="container">
    <div id="welcome" class="pt-5">
        <div id="welcome-info-container">
            <h2 class="heading" style="font-weight: 800;">Problem Definition</h2>
            <br />
            <p style="text-align: justify;">
                Finding a suitable hair or beard style has become very difficult for men, and the growth of the 
                fashion industry in this decade has also played a huge role in both professional and normal life.
                 So if a person wants to know what the best hair or beard style is for him, he needs to approach 
                a hair stylist or do some research on the internet and find out which is suitable for him. 
                But those methods waste a lot of your valuable time, and if you decide to go with the hair stylist, 
                it’s more expensive. Also, if you need to find a hair stylist for men, it’s hard to find the perfect 
                one because most of them specialize in women's hairstyles, but when it comes to men's, you can’t find 
                many people.
            </p>
        </div>
    </div>
    <div id="welcome" class="pt-3 pb-5">
        <div id="welcome-info-container">
            <h2 class="heading" style="font-weight: 800;">Aim</h2>
            <br />
            <p style="text-align: justify;">
                The aim of this research is to design, develop, and evaluate 
                a recommendation system that can analyze the face of a user and predict the face 
                shape of the user. Then, according to the face shape, it will recommend the hair or beard style for the 
                users.
            </p>
        </div>
    </div>

    
</div>
{% endblock content %}

